.hero-box {
    margin-top: 3.5rem;
    color: #ffffff;
    font-weight: 400;
}

.hero-box h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
    letter-spacing: 2px;
}

.hero-box p {
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
}

.card-body {
    padding: 0;
    position: relative;
    overflow: hidden;
}

.card-body p {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}

.card-box a {
    color: #fff;
}

.col-lg-4 {
    padding-left: 15px !important;
    padding-right: 0 !important;
}

.card-title {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.card {
    border-radius: 1.2rem;
}